<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->
<configuration>
	<configSections>
		<sectionGroup name="devExpress">
			<section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="codeCarvings.piczard">
			<section name="coreSettings" type="CodeCarvings.Piczard.Configuration.CoreSettingsSectionHandler, CodeCarvings.Piczard" requirePermission="false"/>
			<section name="webSettings" type="CodeCarvings.Piczard.Configuration.WebSettingsSectionHandler, CodeCarvings.Piczard" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="MinimumCollectionAmount" value="50"/>
		<add key="CurrentDatabase" value="pos_010"/>
		<add key="DoFirstPurchaseCredit" value="True"/>
		<add key="FirstPurchaseCreditAmount" value="-50"/>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
		<add key="SMSPortalUserName" value="RAGESA"/>
		<add key="SMSPortalPassword" value="Dgdg7609"/>
		<add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
		<add key="ChartImageHandler" value="storage=file;timeout=20;"/>
		<add key="EncryptionKey" value="jg675762jhg18766789j2tqyyab"/>
	</appSettings>
	<!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.5" />
			</system.Web>
	-->
	<system.web>
		<customErrors mode="On" defaultRedirect="~/Errors/Error.aspx">
			<error statusCode="404" redirect="~/Errors/404.aspx"/>
		</customErrors>
		<authentication mode="Windows"/>
		<httpRuntime targetFramework="4.6.1" maxRequestLength="30000" executionTimeout="120" requestValidationMode="2.0"/>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1">
			<assemblies>
				<add assembly="DevExpress.Web.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Data.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Printing.v18.1.Core, Version=18.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="DevExpress.RichEdit.v18.1.Core, Version=18.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="DevExpress.Charts.v18.1.Core, Version=18.1.6.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraCharts.v18.1, Version=18.1.6.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.PivotGrid.v18.1.Core, Version=18.1.6.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraReports.v18.1, Version=18.1.6.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Office.v18.1.Core, Version=18.1.6.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraReports.v18.1.Web, Version=18.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraReports.v18.1.Web.WebForms, Version=18.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.Resources.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraPivotGrid.v18.1, Version=18.1.6.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Docs.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.ASPxTreeList.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.ASPxThemes.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Web.ASPxPivotGrid.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraCharts.v18.1.Web, Version=18.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
		</compilation>
		<httpModules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</httpModules>
		<httpHandlers>
			<add path="ASPxUploadProgressHandlerPage.ashx" verb="GET,POST" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" validate="false"/>
			<add path="piczardWebResource.ashx" verb="*" type="CodeCarvings.Piczard.Web.WebResourceManager, CodeCarvings.Piczard" validate="false"/>
			<add path="DXXRDV.axd" verb="GET,POST" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" validate="false"/>
			<add path="DXXRD.axd" verb="GET,POST" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" validate="false"/>
			<add path="DXQB.axd" verb="GET,POST" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" validate="false"/>
			<add path="DX.ashx" verb="GET,POST" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" validate="false"/>
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="4.0">
			<controls>
				<add tagPrefix="ccPiczard" namespace="CodeCarvings.Piczard.Web" assembly="CodeCarvings.Piczard"/>
				<add tagPrefix="ccPiczardUC" tagName="SimpleImageUpload" src="~/piczardUserControls/simpleImageUploadUserControl/SimpleImageUpload.ascx"/>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</controls>
		</pages>
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="30000000"/>
			</requestFiltering>
		</security>
		<modules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</modules>
		<handlers>
			<remove name="ChartImageHandler"/>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
			<add name="PiczardWebResource" verb="*" path="piczardWebResource.ashx" preCondition="integratedMode" type="CodeCarvings.Piczard.Web.WebResourceManager, CodeCarvings.Piczard"/>
			<add name="ASPxWebDocumentViewerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXRDV.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
			<add name="ASPxReportDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXRD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
			<add name="ASPxQueryBuilderDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXQB.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="ChartImg" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
	<devExpress>
		<themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" baseColor="" font=""/>
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
		<settings rightToLeft="false" doctypeMode="Xhtml" embedRequiredClientLibraries="false" ieCompatibilityVersion="edge" accessibilityCompliant="false" bootstrapMode="" checkReferencesToExternalScripts="true" protectControlState="true"/>
		<errors callbackErrorRedirectUrl=""/>
		<resources>
			<add type="ThirdParty"/>
			<add type="DevExtreme"/>
		</resources>
	</devExpress>
	<codeCarvings.piczard>
		<coreSettings>
			<drawing maxImageSize="8000, 8000"/>
			<imageArchiver defaultJpegQuality="92" defaultQuantizeGifImages="true"/>
			<security defaultEncryptionKey="Place here your random key (alphanumeric / 10..20 chars)"/>
			<plugins>
				<!-- Register here your Piczard Plugins. -->
				<!-- === EXAMPLE: DeBrand Plugin for Piczard by Digivogue - http://digivogue.com/products/Piczard-DeBrand/ ===
			<plugin type="Digivogue.Plugins.Piczard.DeBrand.DeBrandPiczardPlugin, Digivogue.Plugins.Piczard.DeBrand">
				<license number="..." key="..." />
			</plugin>
			========= -->
			</plugins>
		</coreSettings>
		<webSettings>
			<webResource enableCompression="true"/>
			<pictureTrimmer contentImageMaxSize="800, 800" contentImageJpegQuality="92" useTemporaryFiles="false" autoLoadPiczardClientLibrary="true" autoDeleteTemporaryFiles="true"/>
			<temporaryFileManager folderPath="~/App_Data" autoDeleteFiles="true" maxFileLifeTime="180"/>
		</webSettings>
	</codeCarvings.piczard>
	<location path="piczardWebResource.ashx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior>
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
	<connectionStrings>
    <add name="PostgreConnectionStringPCMRead" connectionString="Server=41.204.199.82;Port=5432;User Id=postgres;Password=7$1HbBp@A*;Database=pcm;CommandTimeout=600;Pooling=False;"/>
    <add name="PostgreConnectionStringPCMCollectionsRead" connectionString="Server=41.204.199.82;Port=5432;User Id=postgres;Password=7$1HbBp@A*;Database=pcm;CommandTimeout=600;Pooling=True;Minimum Pool Size=30"/>
    <add name="PostgreConnectionStringPCMWrite" connectionString="Server=41.204.199.82;Port=5432;User Id=postgres;Password=7$1HbBp@A*;Database=pcm;CommandTimeout=120;Pooling=False;"/>
    <add name="PostgreConnectionStringPositiveWrite" connectionString="Server=41.204.199.82;Port=5432;User Id=postgres;Password=7$1HbBp@A*;Database=pos_010;CommandTimeout=120;Pooling=False;"/>
    <add name="PostgreConnectionStringPositiveRead" connectionString="Server=41.204.199.82;Port=5432;User Id=postgres;Password=7$1HbBp@A*;Database=pos_010;CommandTimeout=600;Pooling=False;"/>
  </connectionStrings>
</configuration>
